*{
    margin: 0px;
    padding: 0px;
}
/* Fonts */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}
.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}
.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* styles for header section */
.header-section{
    width: 1440px;
    height: 832px;
    background-image: linear-gradient(0deg, rgba(18,18,18,100),rgba(18,18,18,0.2)), url(/images/donation1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 130px;
}
.header-section h1{
    color: #FFFFFF;
    max-width: 826px;
    height: 158px;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}
.header-section p{
    max-width: 691px;
    height: 56px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}
.header-section button{
    font-size: 20px;
    font-weight: 600px;
    max-width: 160px;
    height: auto;
    color: #FFFFFF;
    background-color: #FF5959;
    padding: 16px 20.5px;
    border-radius: 5px;
    cursor: pointer;
}
/* Responsive design for donate section */
@media screen and (max-width: 576px){
    .header-section{
        background-image: linear-gradient(0deg, rgba(18,18,18,90),rgba(18,18,18,0.1)), url(/images/donation1.jpg);
    }
    .header-section h1{
        margin-bottom: 180px;
    }
    .header-section p{
        margin-bottom: 60px;
        opacity: 0.6;
    }
    .header-section{
        height: 720px;
    }
}
/* Styles for Donate Today section */
.hero-section-donate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-section-donate h1{
    max-width: 304px;
    height: 54px;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-section-donate p{
    max-width: 691px;
    height: 56px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(112, 112, 112, 100);
    margin-bottom: 50px;
}
.donation-box{
    display: flex;
    gap: 45px;
    margin-bottom: 60px;
    
}
.box{
    max-width: 135px;
    height: 123px;
    border-radius: 15px;
}
.box p{
    border-radius: 5px;
}
.style-box{
    max-width: 135px;
    height: 123px;
    background-color: rgba(255, 238, 238, 100);
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.style-box .s{
    max-width: 90px;
    height: 36px;
    color: #FF5959;
    font-size: 30px;
    font-weight: bold;
    margin: 43px 23px 44px 23px;
}
.box > .a{
    max-width: 107px;
    height: 36px;
    padding-left: 15px;
    padding-right: 14px;
}
.box .b{
    max-width: 107px;
    height: 36px;
    padding-left: 15px;
    padding-right: 14px;
}
.box p{
    max-width: 86px;
    height: 36px;
    background-color: #FAFAFA;
    color: #707070;
    padding: 43px 25px 44px 24px;
    font-size: 30px;
    font-weight: bold;
}
.donate-other-amount input{
  max-width: 192px;
  height: 28px;
  font-size: 18px;
  line-height: 28px;
  color: rgba(179, 179, 179, 100);
  margin-bottom: 9.5px;
  text-decoration: none;
  border: none;
}
.donate-other-amount hr{
  width: 780px;
  margin-bottom: 30px;
  color: #DADADA;
  opacity: 0.5;
}
.hero-section-donate button{
  font-size: 20px;
    font-weight: 600px;
    max-width: 160px;
    height: auto;
    color: #FFFFFF;
    background-color: #FF5959;
    padding: 16px 20.5px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 130px;
    border: none;
}
/* Responsive donate today section for mobile */
@media screen and (max-width: 576px){
    .hero-section-donate h1{
        margin-bottom: 90px;
    }
    .donation-box{
      flex-direction: column;
    }
    .hero-section-donate p{
      margin-left: 5px;
      margin-right: 5px;
    }
    .donate-other-amount hr{
      width: 195px;
      margin-left: 30px;
    }
}
/* styles of our donate plan */
.header-section-of-donate-plan{
  max-width: 691px;
  height: 130px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.header-section-of-donate-plan h1{
  font-size: 45px;
  font-weight: bold;
  color: #121212;
  text-align: center;
  margin-bottom: 20px;
}
.header-section-of-donate-plan p{
  max-width: 691px;
  height: 56px;
  font-size: 18px;
  line-height: 28px;
  color: #707070;
  margin-bottom: 50px;
}
/* styles of card-1 */
.card-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 130.5px;
}
.card-1{
  max-width: 360px;
  height: 352px;
  background-color: rgba(79, 157, 166, 0.10);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.card-1 img{
  max-width: 58.13px;
  height: 49.77px;
  margin: 63.5px 278.87px 32.73px 23px;
}
.content-of-card-1{
  max-width: 315px;
  height: 153px;
  margin: 0px 22px 54px 23px;
}
.card-1 h3{
  max-width: 204px;
  height: 36px;
  font-size: 24;
  margin-bottom: 16px;
}
.card-1 p{
  max-width: 315px;
  height: 101px;
  font-size: 16px;
  color: #707070;
}
/* styles of card-2 */
.card-2{
  max-width: 360px;
  height: 352px;
  background-color: rgba(255, 89, 89, 0.10);
  border-radius: 5px;
  margin-right: 24px;
}
.card-2 img{
  max-width: 53px;
  height: 53px;
  margin: 62.6px 279px 29.5px 28px;
}
.content-of-card-2{
  max-width: 315px;
  height: 153px;
  margin: 0px 22px 54px 23px;
}
.card-2 h3{
  max-width: 231px;
  height: 36px;
  font-size: 24px;
  margin-bottom: 16px;
}
.card-2 p{
  max-width: 315px;
  height: 101px;
  color: #707070;
}
/* styles of card-3 */
.card-3{
  max-width: 360px;
  height: 352px;
  background-color: rgba(255, 244, 214, 0.40);
  border-radius: 5px;
}
.card-3 img{
  max-width: 53px;
  height: 53px;
  margin: 62.2px 284px 29.78px 23px;
}
.content-of-card-3{
  max-width: 315px;
  height: 153px;
  margin: 0px 22px 53.72px 23px;
}
.card-3 h3{
  max-width: 250px;
  height: 36px;
  font-size: 24px;
  margin-bottom: 16px;
}
.card-3 p{
  max-width: 315px;
  height: 101px;
  font-size: 16px;
  color: #707070;
}
/* Responsive design for our donate section */
@media screen and (max-width: 576px){
  /* .card-section{
    flex-direction: column;
  }
  .card-1{
    max-width: 180px;
    border-radius: 5px;
  }
  .card-1 h3{
    max-width: 120px;
    height: 50px;
  } */
   .header-section-of-donate-plan p{
    max-width: 400px;
    margin-left: 5px;
   }
   .card-section{
    flex-direction: column;
   }
   .card-1{
    margin-left: 23px;
    margin-bottom: 20px;
   }
   .card-2{
    margin-left: 23px;
    margin-bottom: 20px;
   }
   .card-3{
    margin-left: 2px;
    margin-bottom: 20px;
   }
}
